@using BetterHealthCare_WebApp.Models.Patients
@model PatientDto

<a class="btn btn-secondary mb-3" href="@Url.Action("Index", "Patient")">← Back to Patients</a>


<h2>Detalhes do Paciente</h2>
<p><strong>Nome:</strong> @Model.Name</p>
<p><strong>Número de Saúde:</strong> @Model.HealthNumber</p>
<p><strong>Data de Nascimento:</strong> @Model.DateOfBirth.ToShortDateString()</p>

<h3>Procedimentos Associados</h3>
@if (Model.Actions.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Nome do Procedimento</th>
                <th>Tipo</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var action in Model.Actions)
            {
                <tr>
                    <td>@action.DateOfProcedure.ToShortDateString()</td>
                    <td>@action.Procedure.Name</td>
                    <td>@action.Procedure.Type</td>
                    <td>
                        @if (action.FilesId != null && action.FilesId.Any())
                        {
                            @string.Join(", ", action.FilesId)
                        }
                        else
                        {
                            <span>Nenhum</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Este paciente não tem procedimentos associados.</p>
}

